.featured {
    position: relative;
    margin-top: 60px;

    .category {
        padding: 20px;
        border-radius: 10px;
        background-color: rgb(66, 11, 24);
        position: absolute;
        top: 80px;
        left: 50px;
        color: white;
        font: 20px;

        span {
            margin-right: 20px;
            font-size: 20px;
        }
    }

    img {
        width: 100%;
        object-fit: cover;
    }
}